body{
font-family: 'Ubuntu', sans-serif;
background:#003366;
color:#fff;
margin:0;
}
header{
text-align:center;
background-color:#0066CC;
width:100%;
padding-top:15px;
}
#wrapper{
width:75%;
margin:0 auto;
}
a {
color:#00CCFF;
text-decoration:none;
}
h1, h4 {
font-weight:700;
}
#myList li{
font-weight:300;

}
.ital{
line-height:75px;
margin:75px;
font-weight:300;
font-style:italic;
}
